<a href="https://colab.research.google.com/github/Rodriggo-Marcelino/Colab_notebooks/blob/rodriggo/estudando_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

# Introdução ao curso de **python**

Entrada de dados

-Basicamente o input se refere a entrada de dados dentro de uma variavel.


-Outro ponto importante é que podemos efetuar o casting no qual limitamos a entrada de dados para um tipo especifico, um exemplo é a variavel idade, onde não podemos receber um texto, limitamos a entrada para o tipo int, assim o usuario não poderá digitar algo diferente de um numero inteiro.

In [ ]:
nome = str(input("Digite seu nome:"))
idade = int(input('Digite sua idade:'))
peso = float(input('Digite seu peso:'))

print(nome)
print(idade)
print(peso)

# Dentro do print podemos encapsular o nome da variavel em uma função chamada **type** onde ela irá retornar o tipo da variavel.

In [ ]:
print(type(nome))
print(type(idade))
print(type(peso))

# Operadores aritimeticos

Aqui vemos os operadores aritimeticos, com eles podemos efetuar calculos.

In [ ]:
soma = 1+1
subtracao = 9-2
multiplicacao = 4*4
divisao = 30/3
potenciacao = 7**2

print("soma: ", soma)
print("subtação: ", subtracao)
print("multiplicação: ", multiplicacao)
print("divisão: ", divisao)
print("potenciação: ", potenciacao)

# Operadores logicos e condicionais

O primiro passo para enterdermos condicionais é que ela sempre irá retornar um valor boletano ou seja, verdadeiro e falso (true, false).

com isso temos os operadores logicos e os operadores de comparação.


1.   `and`: Retorna True se ambos os operandos forem verdadeiros.
2.   `or`: Retorna True se pelo menos um dos operandos for verdadeiro.
3.   `not`: Retorna True se o operando for falso e False se for verdadeiro, invertendo assim o valor booleano.

Logo mais temos os operadores de comparação:

1. `==`: Igual a
2. `!=`: Diferente de
3. `<`: Menor que
4. `<=`: Menor ou igual a
5. `>`: Maior que"
6. `>=`: Maior ou igual a

Todos esses comparades são usando dentro de condicionais.

In [ ]:
idade = int(input("Digite sua idade: "))

if idade >= 18:
    print("permitido")
else:
    print("bloqueado")

In [ ]:
salario = float(input("Digite seu salario: "))

if salario <= 3000:
    print("programador junior")
elif salario > 3000 and salario <= 6000:
    print("programador pleno")
elif salario > 6000 and salario <= 15000:
    print("programador senior")
else:
    print("gerente de projetos")

# Listas

A lista é uma variavel que pode armazenar varios valores ao mesmo tempo, esses valores podem ser de diferentes tipos simultaneamente.

para acessar a posição na lista basta usar `nome_da_variavel[1]` entre colchetes o valor equivale a posição do array começando sempre do `0`.

In [ ]:
lista_numeros = [1,2,3]

print(lista_numeros[0])
print(lista_numeros[1])
print(lista_numeros[2])

Adiciona um elemento no final da lista

In [ ]:
lista_numeros.append(4)
print(lista_numeros)
print(len(lista_numeros))

Adiciona os elementos de uma lista no final de outra

In [ ]:
novos_numeros = [5,6,7,8]
lista_numeros.extend(novos_numeros)
print(lista_numeros)

Insere o numero `5` na posição `1` ou sejá na chamada desse função o primeiro parametro é a posição o segundo é o valor inserido

In [ ]:
lista_numeros.insert(1 ,5)
print(lista_numeros)

Remove o primeiro item com o valor que foi escolhido

In [ ]:
lista_numeros.remove(4)
print(lista_numeros)

Remove e retorna o numero removido

In [ ]:
elemento_removido = lista_numeros.pop(4)
print(elemento_removido)
print(lista_numeros)

Retorna o indice da primeira ocorencia com o valor especificado

In [ ]:
indice = lista_numeros.index(6)
print(indice)

Retorna quantas vezes o valor especificado aparece na lista

In [ ]:
quantidade = lista_numeros.count(3)
print(quantidade)

Ordena os elementos da lista

In [ ]:
lista_numeros.sort()
print(lista_numeros)

Inverte a ordem dos elementos da lista

In [ ]:
lista_numeros.reverse()
print(lista_numeros)

Retorna uma copia superficial da lista

In [ ]:
copia_lista = lista_numeros.copy()
print(copia_lista)

Remove todos os elementos da lista

In [ ]:
lista_numeros.clear()
print(lista_numeros)

Retorna true se qualquer elemento da lista for verdadeiro

In [ ]:
resultado = any(lista_numeros)
print(resultado)

Retorna true se todos os elementos da lista forem verdadeiros

In [ ]:
resultado = all(lista_numeros)
print(resultado)

Retorna a enumeração de tuplas contendo, indice e valores

In [ ]:
lista = ['a', 'b', 'c']
for indice, valor in enumerate(lista):
    print(indice,valor)

Aplica uma função a todos os elementos da lista `map`

In [ ]:
lista = [1,2,3]
nova_lista = list(map(lambda x: x * 2, lista))
print(nova_lista)

Filtra elementos da lista com base em uma função

In [1]:
lista = [1,2,3,4,5]
nova_lista = list(map(lambda x: x % 2 == 0, lista))
print(nova_lista)

[False, True, False, True, False]

# Tuplas

Tuplas são como listas porém não são mutaveis.

In [2]:
tupla = (1,2,3)

a,b,c = tupla

print(a)
print(b)
print(c)

1
2
3

In [4]:
tupla = (1,2,2,2,3,3,3,3)
print(tupla.count(2))
print(tupla.count(3))

3
4

In [5]:
tupla = (1,2,3)

for item in tupla:
    print(item)

1
2
3

# Laços de repetição ou loops


Os laços de repetição tem diversas utilidades, mas de maneira mais chula a utilidade dela é repetir o algoritimo dentro dela uma certa quantidade de vezes.

For

vamos começar com o for, usando esse algoritmo como exemplo, criamos 2 laços de repetição `for` com a utilidade de inserir um array com os valores de `[codigo_aluno,nota]` dentro do array notas, quando criamos o `range(5)` definimos que o algoritmo irá se repetir 5x com isso no final teremos um array assim: `notas = [[codigo_aluno,nota],[codigo_aluno,nota],[codigo_aluno,nota],[codigo_aluno,nota],[codigo_aluno,nota]]`

In [ ]:
notas = []

for i in range(5):
    codigo_aluno = input("RM: ")
    nota = float(input("Nota: "))
    resultado = [codigo_aluno, nota]
    notas.append(resultado)

print("quantidade de notas", len(notas))

já nesse segundo `for` o objetivo e percorrer a matriz gerada anteriormente.

Podemos dentro do `for`, usar o array criado como parametro de tamanho em vez de usar o `range()`.

In [ ]:
for n in notas:
    codigo_aluno = n[0]
    nota = n[1]
    print("o RM:", codigo_aluno, "tirou a nota: ", nota)

In [ ]:
print(list(notas))

Em sequida criamos uma alternativa para o primeiro laço de repetição descrito anteriormente, para inserir os dados

O `while` pode ser usado com uma operação logica, ou seja funciona como uma condicional, enquanto aquela condicional não for satisfeita o laço continuará, oq usamos como parametro foi uma variavel chamada `contador` que ela inicia com o valor 1, e a cada iteração do loop ela efetua um incremento, que quando esse numero chegar em 6 o programa irá finalizar

In [ ]:
notas = []

contador = 1

while contador <= 5:
    codigo_aluno = input("RM: ")
    nota = float(input("Nota: "))
    resultado = [codigo_aluno, nota]
    notas.append(resultado)

    contador+=1
print("quantidade de notas: ", len(notas))

# Dicionarios

Os dicionarios funcionam como os arrays, porém nomeamos cada posição.

In [ ]:
pessoa = {
    "nome": "rodriggo",
    "idade": 22,
    "peso": 80.5
}

print(pessoa['nome'])
print(pessoa['idade'])
print(pessoa['peso'])

rodriggo
22
80.5

Tambem é possivel usar laços de repetição pra os dicionarios.

In [ ]:
player = {
    "nome": "rodriggo",
    "level": 1,
    "hp": 100,
    "exp": 0,
    "dano": 5
}

npcs = [
    {"nome": "monstrinho", "dano": 2, "hp":50, "exp": 5},
    {"nome": "elfo", "dano": 2, "hp": 100, "exp": 5},
    {"nome": "mago", "dano": 5, "hp": 150, "exp": 6},
    {"nome": "dragão", "dano": 6, "hp": 200, "exp": 10}
]

for i in npcs:
    print(i["nome"])

monstrinho
elfo
mago
dragão